body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

table.ItemTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #606B70;
  background-color: #FFFFFF;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}
table.ItemTable td, table.ItemTable th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table.ItemTable tbody td {
  font-size: 13px;
  color: #212121;
}
table.ItemTable tr:nth-child(even) {
  background: #ECEFF1;
}
table.ItemTable thead {
  background: #78909C;
  background: -moz-linear-gradient(top, #9aacb5 0%, #859ba6 66%, #78909C 100%);
  background: -webkit-linear-gradient(top, #9aacb5 0%, #859ba6 66%, #78909C 100%);
  background: linear-gradient(to bottom, #9aacb5 0%, #859ba6 66%, #78909C 100%);
  border-bottom: 3px solid #606B70;
}
table.ItemTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #606B70;
}
table.ItemTable thead th:first-child {
  border-left: none;
}

table.ItemTable tfoot td {
  font-size: 12px;
}
